<div class="signup m-0 p-0 shadow-lg bg-body rounded">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 mt-3">
                <div class="card bg-dark">
                    <div class="card-header text-center text-light">
                        <h1>Event Management System</h1><hr>
                        <h3>Sign Up</h3>
                    </div>
                    <div class="card-body">
                        <form class="p-2">
                            <div class="row mb-2">                       
                                <label for="name" class="form-label text-light">Name</label>
                                <input type="text" class="form-control" id="name">                                                 
                            </div>
                            <div class="row mb-2">
                            <label for="email" class="form-label text-light">Email address</label>
                            <input type="email" class="form-control" id="email">            
                            </div>
                            <div class="row mb-2">
                                <label for="phonenumber" class="form-label text-light">Phone Number</label>
                                <input type="text" class="form-control" id="phonenumber">            
                            </div>
                            <div class="row mb-2">
                            <label for="password" class="form-label text-light">Password</label>
                            <input type="password" class="form-control" id="password">
                            </div>
                            <button type="submit" class="btn btn-primary mt-1 float-left">Register</button>
                            <hr class="text-light">
                            <p class="text-light text-center">You already have an account? 
                            <a href="login">login here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
